= simple_form_for(@human, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :cu
    = f.input :cucode
    = f.input :nome
    = f.input :cognome
    = f.input :quartiere
    = f.input :contrada
    = f.input :codicecensimento
    = f.input :idgruppo
    = f.input :idunita
    = f.input :realcredit
    = f.input :intolleranzealimentari
    = f.input :allergiealimentari
    = f.input :allergiefarmaci
    = f.input :fisiche
    = f.input :lis
    = f.input :psichiche
    = f.input :sensoriali
    = f.input :patologie
  
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit
