%table.table
  %thead
    %tr
      %th Scheda medica
      %th
  %tbody
    %tr
      %th Intolleranzealimentari:
      %td= @human.intolleranzealimentari
    %tr
      %th Allergiealimentari:
      %td= @human.allergiealimentari
    %tr
      %th Allergiefarmaci:
      %td= @human.allergiefarmaci
    %tr
      %th Fisiche:
      %td= @human.fisiche
    %tr
      %th Lis:
      %td= @human.lis
    %tr
      %th Psichiche:
      %td= @human.psichiche
    %tr
      %th Sensoriali:
      %td= @human.sensoriali
    %tr
      %th Patologie:
      %td= @human.patologie